<ol id="resource_list">
  <li>Connect Control Systems Product Information <a href="resource/Brochure_01.pdf">link <i class="fa fa-external-link"></i></a></li>
  <li>File 1761-br006_-cs-p.pdf <a href="resource/Brochure_01.pdf">link <i class="fa fa-external-link"></i></a></li>
</ol>