<% content_for :page_title do %>
  About Us | Connect Control
<% end %>

<!-- BREADCRUMBS -->
<div class="page-header">
  <div class="container">
    <h1 class="page-title pull-left">ABOUT US</h1>
    <ol class="breadcrumb">
      <li><%= link_to "Home", root_path %></li>
      <li class="active"> About Us </li>
    </ol>
  </div>
</div>
<!-- END BREADCRUMBS -->

<!-- PAGE CONTENT -->
<div class="page-content">
  <div class="container">

    <section class="about-content">
      <div class="row">
        <div class="col-md-6">
          <p>Connect Control Systems Inc. started out as Taylor CC Services in late 2006 by Ian Taylor. He saw an increasing need for PLC programmers with a broad understanding of oil and gas process systems. After achieving success in process troubleshooting, network design, and programming, Taylor CC Services expanded its services to also provide logistics and panel fabrication.</p>

          <p>In early 2009, Taylor CC Services became Connect Control Systems Inc. and Ian took the role of President. This new direction was a response to increased client needs for support and development in project management, process, data acquisition, communications, engineering, troubleshooting, and field services.</p>

          <p>Connect Control Systems has been able to achieve healthy exponential growth and has recently expanded by opening two key divisions: Connect Global Corp. which is focused on supporting the expanding oil and gas industry in the USA and a Control Panel Fabrication shop supplying automation products in various industrial applications. Along with these two areas Connect Control Systems has sustained its original focus of providing automation services across Western Canada and the United States.</p>

          <p>Connect Control Systems was recognized by Profit Magazine in 2015 as one of the top 500 Fastest Growing Companies in Canada ranking in at #84.</p>

          <%= image_tag "more-intro-img.png", alt: "more intro image", class: "img-responsive" %>
        </div>
        <div class="col-md-6">
          <%= image_tag "more-intro-img.png", alt: "more intro image", class: "img-responsive" %>
        </div>
      </div>
      <br><hr>
    </section>

    <h2 class="section-heading">INDUSTRY AFFILIATIONS</h2>
    <!-- INDUSTRY AFFLILIATIONS -->
    <section class="affliliation-list">
      <div class="section-content">
        <div class="row">
          <div class="col-md-3">
            <%= image_tag "csia-logo.jpg", alt: "portrait", class: "img-responsive" %>
          </div>
          <div class="col-md-9">
              <h3 class="media-heading affliliation-name"> CSIA - Control System Integrators Association </h3>
              <strong> The go-to resource for control system integration </strong>
              <hr class="pull-left">
              <div class="clearfix"></div>
              <p> CONTENT REQUIRED</p>
          </div>
        </div>
      </div>
    </section>
    <!-- END INDUSTRY AFFLILIATIONS -->

    <h2 class="section-heading">OTHER ASSOCIATIONS AND PROGRAMS</h2>
    <p>CONTENT REQUIRED.</p>

  </div>
</div>
<!-- END PAGE CONTENT -->