<div class="page-header">
  <div class="container">
    <h1 class="page-title pull-left">CAREERS</h1>
    <ol class="breadcrumb">
      <li>
        <a href="#">Home</a>
      </li>
      <li>
        <a href="#">Pages</a>
      </li>
      <li class="active">Careers</li>
    </ol>
  </div>
</div>
<div class="page-content">
  <div class="container">
    <h3>Current job positions</h3>
    <p>Connect Control Systems, Inc. is always looking for the best people to join our team. Our compensation packages are extremely competitive and include a great working environment for the right individual.</p>
    <p>Successful candidates should:</p>
    <ul>
      <li>
        <strong>Have a positive attitude</strong>
        <p>Competently evolve future-proof metrics rather than 2.0 resources. Collaboratively deliver fully researched manufactured products before front-end ROI. Appropriately productivate.</p>
      </li>
      <li>
        <strong>Be a team player</strong>
        <p>Synergistically seize parallel interfaces through ethical networks. Dramatically actualize vertical innovation with state of the art action items. Monotonectally morph competitive innovation with dynamic value. Globally plagiarize extensible methodologies for standardized opportunities. Competently develop ethical experiences for performance based.</p>
      </li>
      <li>
        <strong>Possess integrity</strong>
        <p>Energistically monetize 2.0 e-business and B2B ROI. Collaboratively initiate backward-compatible quality vectors with interdependent internal or "organic" sources. Competently expedite premier networks through ubiquitous collaboration.</p>
      </li>
      <li>
        <strong>Be prepared for a growing company environment with potential for advancement</strong>
        <p>Uniquely brand client-centered materials and plug-and-play systems. Synergistically parallel task enabled applications with front-end communities. Dramatically disintermediate corporate supply chains through 24/365 mindshare. Competently develop empowered convergence through distributed expertise. Continually iterate high-payoff potentialities and.</p>
      </li>
      <li>
        <strong>Be willing to take on other responsibilities within the company if required</strong>
        <p>Energistically monetize 2.0 e-business and B2B ROI. Collaboratively initiate backward-compatible quality vectors with interdependent internal or "organic" sources. Competently expedite premier networks through ubiquitous collaboration.</p>
      </li>
    </ul>
    <p>Please forward your resumes to info@connectcontrol.net . Only qualified applicants who fit our hiring criteria will be contacted to schedule an interview.</p>
      
  </div>
</div>