<div class="page-header">
  <div class="container">
    <h1 class="page-title pull-left">CAREERS</h1>
    <ol class="breadcrumb">
      <li>
        <li><%= link_to "Home", root_path %></li>
      </li>
      <li class="active">Careers</li>
    </ol>
  </div>
</div>
<div class="page-content">
  <div class="container">
    <h3>Career Oppotunities</h3>
    <p>Connect Control Systems, Inc. is always looking for the best people to join our team. Our compensation packages are extremely competitive and include a great working environment for the right individual.</p>
    <p>Successful candidates should:</p>
    <ul>
      <li><strong>Have a positive attitude</strong></li>
      <li><strong>Be a team player</strong></li>
      <li><strong>Possess integrity</strong></li>
      <li><strong>Be prepared for a growing company environment with potential for advancement</strong></li>
      <li><strong>Be willing to take on other responsibilities within the company if required</strong></li>
    </ul>
    <p>Please forward your resumes to <a href="mailto:info@connectcontrol.net">info@connectcontrol.net</a>. Only qualified applicants who fit our hiring criteria will be contacted to schedule an interview.</p>
  </div>
</div>