<% content_for :page_title do %>
  Contact Us | Connect Control
<% end %>


<div class="page-header">
  <div class="container">
    <h1 class="page-title pull-left">CONTACT US</h1>
    <ol class="breadcrumb">
      <li><%= link_to "Home", root_path %></li>
      <li class="active">Contacts</li>
    </ol>
  </div>
</div>

<div class="page-content">
  <div class="container">
    <div class="row">
      <div class="col-md-9">
        <!-- CONCTACT INTRO -->
        <p> CONTENT REQUIRED </p>
        <br>
        <!-- CONCTACT FORM -->
        <%= render "contact_form" %>
        <!-- END CONCTACT FORM -->

          <ul class="list-inline social-icons">
            <li>
              <a href="https://www.linkedin.com/company/connect-control-systems-ltd" class="linkedin-bg"><i class="fa fa-linkedin"></i></a> 
            </li>
            <li>
              <a href="https://www.facebook.com/ConnectControlInc?fref=ts" class="facebook-bg"><i class="fa fa-facebook"></i></a>
            </li>
            <li>
              <a href="https://twitter.com/ConnectCtrl" class="twitter-bg"><i class="fa fa-twitter"></i></a>
            </li>
            <li>
              <a href="#" class="googleplus-bg"><i class="fa fa-google-plus"></i></a>
            </li>
          </ul>
      </div>

      <div class="col-md-3">
        <!-- RIGHT SIDEBAR CONTENT -->
        <div class="widget">
          <h3 class="widget-title">Head Office</h3>
          <ul class="contact-info fa-ul">
            <li><i class="fa fa-li fa-map-marker"></i> 35 Renault Crescent, St. Albert, AB, Canada T8N 4B7</li>
            <li><i class="fa fa-li fa-phone"></i> 780-459-6625</li>
            <li><i class="fa fa-li fa-fax"></i> 780-459-6634</li>
            <li><i class="fa fa-li fa-envelope-o"></i> <a href="mailto:info@connectcontrol.net">info@connectcontrol.net</a></li>
          </ul>
          <div class="google-map sidebar-map">
            <div id="map-canvas"></div>
          </div>
        </div>
        <div class="widget">
          <h3 class="widget-title">Fort Saint John</h3>
          <ul class="contact-info fa-ul">
            <li><i class="fa fa-li fa-map-marker"></i> 10139 - 101 Ave, Fort St. John, BC, Canada V1J 2B4</li>
          </ul>
        </div>
        <div class="widget">
          <h3 class="widget-title"> Williston </h3>
          <ul class="contact-info fa-ul">
            <li><i class="fa fa-li fa-map-marker"></i> 4974 HWY 85 Williston, ND, USA 58801</li>
          </ul>
        </div>
        <!-- END RIGHT SIDEBAR CONTENT -->
      </div>
    </div>
  </div>
</div>