<% content_for :experience_title do %>
  Power Generation
<% end %>

<h3>POWER GENERATION</h3>
<ul>
	<li> generator synchronization and control </li>
	<li> generator safety control systems </li>
	<li> power systems monitoring </li>
</ul>





		
		
		