<% content_for :experience_title do %>
  Industrial Process Application
<% end %>

<h3> INDUSTRIAL PROCESS APPLICATIONS </h3>
<ul>
	<li> conveyor systems control </li>
	<li> product distribution control systems </li>
	<li> refrigeration control systems </li>
	<li> chemical process control </li>
</ul>	