<% content_for :experience_title do %>
  Conventional Oil and Gas
<% end %>

<h3>CONVENTIONAL OIL AND GAS</h3>
<ul>
	<li> well head flow measurement and control</li>
	<li> gathering system pipeline control and monitoring </li>
	<li> midstream and gas processing facilities </li>
	<li> oil battery separation and process </li>
	<li> compression and pump station control </li>
</ul>