<% content_for :experience_title do %>
  Waste Water and Waste Treatment
<% end %>

<h3> WASTE WATER / WATER TREATMENT </h3>
<ul>
	<li> pump station control and monitoring </li>
	<li> filtration control and monitoring </li>
	<li> reservoir monitoring </li>
	<li> facility control and monitoring </li>
</ul>
