<% content_for :page_title do %>
  Experience | Connect Control
<% end %>

<!-- BREADCRUMBS -->
<div class="page-header">
  <div class="container">
    <h1 class="page-title pull-left">OUR EXPERIENCE</h1>
    <ol class="breadcrumb">
      <li><%= link_to "Home", root_path %></li>
      <li class="active">Experience</li>
    </ol>
  </div>
</div>
<!-- END BREADCRUMBS -->

<!-- PAGE CONTENT -->
<div class="page-content">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h3>CONVENTIONAL OIL AND GAS</h3>
        <ul>
          <li> well head flow measurement and control</li>
          <li> gathering system pipeline control and monitoring </li>
          <li> midstream and gas processing facilities </li>
          <li> oil battery separation and process </li>
          <li> compression and pump station control </li>
        </ul>
      </div>
      <div class="col-md-6">
        <h3>POWER GENERATION</h3>
        <ul>
          <li> generator synchronization and control </li>
          <li> generator safety control systems </li>
          <li> power systems monitoring </li>
        </ul>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-6">
        <h3> WASTE WATER / WATER TREATMENT </h3>
        <ul>
          <li> pump station control and monitoring </li>
          <li> filtration control and monitoring </li>
          <li> reservoir monitoring </li>
          <li> facility control and monitoring </li>
        </ul>
      </div>
      <div class="col-md-6">
        <h3> INDUSTRIAL PROCESS APPLICATIONS </h3>
        <ul>
          <li> conveyor systems control </li>
          <li> product distribution control systems </li>
          <li> refrigeration control systems </li>
          <li> chemical process control </li>
        </ul> 
      </div>
    </div>
    <br><br>

    <%= render "layouts/recent_projects" %> 

  </div>
</div>
<!-- END PAGE CONTENT -->