<% content_for :page_title do %>
  Experience | Connect Control
<% end %>

<!-- BREADCRUMBS -->
<div class="page-header">
  <div class="container">
    <h1 class="page-title pull-left">OUR EXPERIENCE</h1>
    <ol class="breadcrumb">
      <li><%= link_to "Home", root_path %></li>
      <li class="active">Experience</li>
    </ol>
  </div>
</div>
<!-- END BREADCRUMBS -->

<!-- PAGE CONTENT -->
<div class="page-content">
  <div class="container">
    <p> CONTENT REQUIRED </p>
    <br><br>
    <%= render "layouts/recent_projects" %> 
  </div>
</div>
<!-- END PAGE CONTENT -->