<% content_for(:page_title) do %>
  Home | Connect Control
<% end %>

<!-- MAIN HERO UNIT SLIDER -->
<%= render "layouts/main_slider" %>
<!-- END MAIN HERO UNIT SLIDER -->

<!-- INTRO -->
<section>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2 class="section-heading">Welcome to</h2>
        <h1>CONNECT CONTROL SYSTEMS, INC.</h1>
        <p>Our focus is to deliver high quality, cost effective, industrial automation solutions, services, products, and support across the world. Our experience as systems integrators allow us to provide a high level of standards that place us among the leading control and automation contractors in the industry.</p>
      </div>
      <div class="col-md-6">
        <div class="featured-video">
          <object data="https://www.youtube.com/embed/fgExvIUYg5w" width="555" height="395"></object>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- END INTRO -->

    
<%= render "layouts/callto_action" %>

<% content_for(:scripts) do %>
  <script src="/javascripts/plugins/slick/slick.min.js"></script>
  <script src="/javascripts/plugins/stellar/jquery.stellar.min.js"></script>
  <script src="/javascripts/plugins/jquery-easypiechart/jquery.easypiechart.min.js"></script>
<% end %>