<% content_for :project_title do %>
  Sample Project
<% end %>


<!-- PAGE CONTENT -->
<div class="page-content">
  <div class="container">    
    

    <div class="portfolio-static">
      <div class="row">
        <div class="col-md-6">
          <div class="portfolio-item">
            <div class="media-wrapper">
              <%= image_tag "projects_sample_1.png", alt: "Test" %>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="portfolio-item">
            <div class="media-wrapper">
              <%= image_tag "projects_sample_2.png", alt: "Test" %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br>
    <section>
      <h2 class="section-heading">PROJECT DESCRIPTION</h2>
    </section>
  </div>
</div>