<% content_for :page_title do %>
  Reserved | Connect Control
<% end %>

<!-- BREADCRUMBS -->
<div class="page-header">
  <div class="container">
    <h1 class="page-title pull-left"> RESERVED COMPONENTS </h1>
    <ol class="breadcrumb">
      <li><%= link_to "Home", root_path %></li>
      <li class="active"> Reserved </li>
    </ol>
  </div>
</div>
<!-- END BREADCRUMBS -->

<div class="page-content">
	<div class="container">
    <h3>RESERVED</h3>
  </div>
</div>