<% content_for(:page_title) do %>
  Resources | Connect Control
<% end %>

<!-- BREADCRUMBS -->
<div class="page-header">
  <div class="container">
    <h1 class="page-title pull-left">RESOURCES</h1>
    <ol class="breadcrumb">
      <li><%= link_to "Home", root_path %></li>
      <li class="active"> Resources </li>
    </ol>
  </div>
</div>
<!-- END BREADCRUMBS -->

<!-- PAGE CONTENT -->
<div class="page-content">
  <div class="container">
  	<section>
  	 <h2>Resources for downloading...</h2>
     <a href="http://literature.rockwellautomation.com/idc/groups/literature/documents/br/1761-br006_-cs-p.pdf">
     MicroLogix 1400 Programmable Logic Controller Systems</a>
  	</section>
  </div>
</div>
<!-- END PAGE CONTENT -->