<% content_for :services_title do %>
  PLC / HMI Programming
<% end %>


<p> It's hard to believe the amount of companies that are currently using PLC contractors with little or no process experience. Clients of Connect have the advantage of a team of experienced personnel from project beginning to end, who can provide expertise in areas such as device location, component function and shutdown protocol. At Connect we strive to maximize production, while also ensuring that safety is a priority. </p>

<p>Connect adheres to the doctrine that "anything not known, is definitely worth knowing". </p>

<p>We pride ourselves in finding the equipment that best serves the customer. Through 20 years of hands-on hardware experience and utilization, we continually seek out manufacturer advancements and work with suppliers to provide new and innovative ways to complete projects on time and on budget.</p>