<% content_for :services_title do %>
  Instrumentation and Electrical Services
<% end %>

<p>Instrumentation, electrical, and controls services is the heart of our business. From preliminary services through detailed design and project execution, our project development process encompasses the entire scope of service deliverables, including: </p>

<ul>
	<li>project cost elimination </li>
	<li>AFE development</li>
	<li>RFP, RFQ, and RFI development and evaluation </li>
	<li>construction package development</li>
	<li>HazOp and risk analysis </li>
	<li>instrument field services</li>
	<li>instrument field calibration </li>
	<li>verification electrical installation</li>
</ul>

<p>We employ a variety of productivity tools and design aids. Connect Control System's primary information storage tool allows data to flow freely from one design stage to the next: from preliminary estimates, to scope refinement, to revised estimates, to design, to document production, and finally to closeout. The relational nature of the data ensures that updates are automatically reflected through the design without duplication of effort.</p>