<% content_for :services_title do %>
  Control Systems Technical Support
<% end %>

<p>Connect Control Systems, focus is to deliver the highest quality, most cost effective industrial automation solutions, services, products and support. Our experience as systems integrators allows us to archive a level of standards that place us among the leading control and automation contractors in the industry.</p>