<% content_for :services_title do %>
  Network Design and Support
<% end %>

<p>Connect Control Systems is Corning Cable Systems-trained. This allows your company to use contractors that meet the stringent requirements for technical and financial strength and have a proven dedication to quality installations. Connect Control Systems is a preferred installer, we demonstrate a commitment to extensive factory training and are required to update training for continued excellence.</p>