<!-- BREADCRUMBS -->
<div class="page-header">
  <div class="container">
    <h1 class="page-title pull-left">OUR SERVICES</h1>
    <ol class="breadcrumb">
      <li><%= link_to "Home", root_path %></li>
      <li class="active">Services</li>
    </ol>
  </div>
</div>
<!-- END BREADCRUMBS -->

<!-- PAGE CONTENT -->
<div class="page-content">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <ul id="sidebar-nav" class="sidebar-nav margin-bottom-30px">
          <li class="list-group-item ">
            <a href="#control_systems_integrator">Control Systems Integrator</a>
          </li>
          <li class="list-group-item ">
            <a href="#PLC_HMI">PLC / HMI Programming</a>
          </li>
          <li class="list-group-item ">
            <a href="#controls_systems_technical_support">Controls Systems Technical Support</a>
          </li>
          <li class="list-group-item ">
            <a href="#network_design_and_support">Network Design and Support</a>
          </li>
          <li class="list-group-item ">
            <a href="#instrumentation_and_electrical_services">Instrumentation and Electrical Services</a>
          </li>
          <li class="list-group-item ">
            <a href="#data_acquisition_and_hosting_solutions">Data Acquisition and Hosting Solutions</a>
          </li>
          <li class="list-group-item ">
            <a href="#control_systems_audits">Control Systems Audits</a>
          </li>
        </ul>
      </div>
      <div class="col-md-9">
        <!-- BOXED CONTENT -->

        <div class="row">
          <div class="col-md-6">
            <div class="boxed-content left-aligned left-boxed-icon">
              <i class="fa fa-flag"></i>
              <h2 class="boxed-content-title">Control Systems Integrator</h2>
              <p>Systems integration is a challenge that most producers eventually face...</p>
              <p class="text-right"><%= link_to "Learn more", service_control_systems_integrator_path %></p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="boxed-content left-aligned left-boxed-icon">
              <i class="fa fa-globe"></i>
              <h2 class="boxed-content-title">PLC / HMI Programming</h2>
              <p>It's hard to believe the amount of companies that are currently using...</p>
              <p class="text-right"><%= link_to "Learn more", service_PLC_HMI_path %></p>
            </div>
          </div>
        </div>

        <!-- END BOXED CONTENT -->
        
      </div>
    </div>
  </div>
</div>
<!-- END PAGE CONTENT -->