<% content_for :page_title do %>
  Under Construction | Connect Control
<% end %>

<!-- BREADCRUMBS -->
<div class="page-header">
  <div class="container">
    <h1 class="page-title pull-left">ATTENTION</h1>
  </div>
</div>
<!-- END BREADCRUMBS -->

<!-- PAGE CONTENT -->
<div class="page-content">
  <div class="container">
    <h2> This page is under construction. Come back later. </h2>
  </div>
</div>
<!-- END PAGE CONTENT -->
