<section class="call-to-action">
  <div class="container">
    <div class="pull-left">
      <h2 class="section-heading">GET IN TOUCH</h2>
    </div>
    <div class="pull-right">
      <span>Call us at +1(780)459-6625 or </span>&nbsp;&nbsp;
      <a href="/contacts" class="btn btn-lg btn-primary"> CONTACT US </a>
    </div>
  </div>
</section>