<nav class="navbar navbar-default" role="navigation">
  <div class="container">
    <!-- TOPBAR -->
    <%= render "layouts/topbar" %>
    <!-- END TOPBAR -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-nav">
        <span class="sr-only">Toggle Navigation</span>
        <i class="fa fa-bars"></i>
      </button>
      <a href="index.html" class="navbar-brand navbar-logo navbar-logo-bigger">
        <%= image_tag "logo.png", alt: "Company LOGO" %>
      </a>
    </div>

    <!-- MAIN NAVIGATION -->
    <div id="main-nav" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown active">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">SERVICES <i class="fa fa-angle-down"></i></a>
          <ul class="dropdown-menu" role="menu">
            <li class="active">
              <a href="index.html">Control Systems Integrator</a>
            </li>
            <li>
              <a href="index-v2.html">PLC / HMI Programming</a>
            </li>
            <li>
              <a href="index-v3.html">Controls Systems Technical Support</a>
            </li>
            <li>
              <a href="one-page/index.html">Network Design and Support</a>
            </li>
            <li>
              <a href="one-page/index.html">Control Panel Fabrication</a>
            </li>
            <li>
              <a href="one-page/index.html">Instrumentation and Electrical Services</a>
            </li>
            <li>
              <a href="one-page/index.html">Data Acquisition and Hosting Solutions</a>
            </li>
            <li>
              <a href="one-page/index.html">Control Systems Audits</a>
            </li>
          </ul>
        </li>
        <li class="dropdown ">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">RSERVED ITEMS <i class="fa fa-angle-down"></i></a>
          <ul class="dropdown-menu" role="menu">
            <li>
              <a href="ui-buttons.html">item 1</a>
            </li>
            <li class="dropdown ">
              <a href="#">item list <i class="fa fa-angle-right"></i></a>
              <ul class="dropdown-menu" role="menu">
                <li>
                  <a href="ui-alerts.html">another item 1</a>
                </li>
                <li>
                  <a href="ui-breadcrumbs.html">another item 2</a>
                </li>
                <li>
                  <a href="ui-pagination.html">another item 3</a>
                </li>
              </ul>
            </li>
           
            <li>
              <a href="ui-numbers-charts.html">item 2</a>
            </li>
            <li>
              <a href="ui-boxed-contents.html">item 3</a>
            </li>
          </ul>
        </li>
        <li class="dropdown ">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">CAREERS <i class="fa fa-angle-down"></i></a>
          <ul class="dropdown-menu" role="menu">
            <li>
              <a href="portfolio-4-columns.html">item 1</a>
            </li>
            <li>
              <a href="portfolio-3-columns.html">item 2</a>
            </li>
            <li>
              <a href="portfolio-2-columns.html">item 3</a>
            </li>
            <li>
              <a href="portfolio-single.html">item 4</a>
            </li>
          </ul>
        </li>
        <li class="dropdown ">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">BLOG <i class="fa fa-angle-down"></i></a>
          <ul class="dropdown-menu" role="menu">
            <li>
              <a href="blog-medium-thumbnail.html">Blog Medium Thumbnail</a>
            </li>
            <li>
              <a href="blog-full-thumbnail.html">Blog Full Thumbnail</a>
            </li>
            <li>
              <a href="blog-single.html">Blog Single</a>
            </li>
            <li>
              <a href="blog-single-full.html">Blog Single Full</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="page-contacts.html">CONTACTS</a>
        </li>
      </ul>
    </div>
    <!-- END MAIN NAVIGATION -->
  </div>
</nav>