<nav class="navbar navbar-default" role="navigation">
  <div class="container">
    <!-- TOPBAR -->
    <div class="topbar">
      <ul class="list-inline top-nav">
        <li>
          <div class="btn-group">
            <button type="button" class="btn btn-link dropdown-toggle btn-xs" data-toggle="dropdown">
              <img src="assets/img/flags/United-Kingdom.png" alt="United Kingdom"> United Kingdom <span class="caret"></span>
            </button>
            <ul class="dropdown-menu dropdown-menu-right country-selector" role="menu">
              <li>
                <a href="#"><img src="assets/img/flags/United-Kingdom.png" alt="United Kingdom"> United Kingdom</a>
              </li>
              <li>
                <a href="#"><img src="assets/img/flags/Japan.png" alt="Japan"> Japan</a>
              </li>
              <li>
                <a href="#"><img src="assets/img/flags/China.png" alt="China"> China</a>
              </li>
              <li>
                <a href="#"><img src="assets/img/flags/Germany.png" alt="Germany"> Germany</a>
              </li>
            </ul>
          </div>
        </li>
        <li>
          <a href="#">Help</a>
        </li>
        <li>
          <a href="#">Support</a>
        </li>
      </ul>
      <div class="searchbox">
        <div class="input-group input-group-sm">
          <input type="text" class="form-control" placeholder="search ...">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
          </span>
        </div>
      </div>
    </div>
    <!-- END TOPBAR -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-nav">
        <span class="sr-only">Toggle Navigation</span>
        <i class="fa fa-bars"></i>
      </button>
      <a href="index.html" class="navbar-brand navbar-logo navbar-logo-bigger">
        <img src="assets/img/logo/repute-logo-nav.png" alt="Repute - Responsive Multipurpose Bootstrap Theme">
      </a>
    </div>

    <!-- MAIN NAVIGATION -->
    <div id="main-nav" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown active">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">HOME <i class="fa fa-angle-down"></i></a>
          <ul class="dropdown-menu" role="menu">
            <li class="active">
              <a href="index.html">Home v1</a>
            </li>
            <li>
              <a href="index-v2.html">Home v2</a>
            </li>
            <li>
              <a href="index-v3.html">Home v3</a>
            </li>
            <li>
              <a href="one-page/index.html">One Page</a>
            </li>
          </ul>
        </li>
        <li class="dropdown ">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">PAGES <i class="fa fa-angle-down"></i></a>
          <ul class="dropdown-menu" role="menu">
            <li>
              <a href="page-services.html">Service Page</a>
            </li>
            <li>
              <a href="page-pricing-tables.html">Pricing Tables</a>
            </li>
            <li class="dropdown ">
              <a href="#">Columns <i class="fa fa-angle-right"></i></a>
              <ul class="dropdown-menu" role="menu">
                <li>
                  <a href="page-left-sidebar.html">Left Sidebar</a>
                </li>
                <li>
                  <a href="page-right-sidebar.html">Right Sidebar</a>
                </li>
                <li>
                  <a href="page-double-sidebar.html">Double Sidebar</a>
                </li>
              </ul>
            </li>
            <li>
              <a href="page-search-results.html">Search Result</a>
            </li>
            <li>
              <a href="page-support.html">Support</a>
            </li>
            <li>
              <a href="page-faq.html">FAQ</a>
            </li>
            <li>
              <a href="page-about-us.html">About Us</a>
            </li>
            <li>
              <a href="page-privacy.html">Privacy Policy</a>
            </li>
            <li>
              <a href="page-terms.html">Terms</a>
            </li>
            <li>
              <a href="page-error.html">Error Page</a>
            </li>
            <li class="dropdown ">
              <a href="#">Sub Menu Lvl 1 <i class="fa fa-angle-right"></i></a>
              <ul class="dropdown-menu" role="menu">
                <li class="dropdown ">
                  <a href="#">Sub Menu Lvl 2 <i class="fa fa-angle-right"></i></a>
                  <ul class="dropdown-menu" role="menu">
                    <li>
                      <a href="#sublvl3">Sub Menu Lvl 3</a>
                    </li>
                    <li>
                      <a href="#sublvl3">Sub Menu Lvl 3</a>
                    </li>
                  </ul>
                </li>
                <li>
                  <a href="#sublvl2">Sub Menu Lvl 2</a>
                </li>
                <li>
                  <a href="#sublvl2">Sub Menu Lvl 2</a>
                </li>
              </ul>
            </li>
          </ul>
        </li>
        <li class="dropdown ">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">UI ELEMENTS <i class="fa fa-angle-down"></i></a>
          <ul class="dropdown-menu" role="menu">
            <li>
              <a href="ui-buttons.html">Buttons</a>
            </li>
            <li>
              <a href="ui-tabs-accordion.html">Tabs &amp; Accordion</a>
            </li>
            <li class="dropdown ">
              <a href="#">Components <i class="fa fa-angle-right"></i></a>
              <ul class="dropdown-menu" role="menu">
                <li>
                  <a href="ui-alerts.html">Alerts</a>
                </li>
                <li>
                  <a href="ui-breadcrumbs.html">Breadcrumbs</a>
                </li>
                <li>
                  <a href="ui-pagination.html">Pagination</a>
                </li>
              </ul>
            </li>
            <li class="dropdown ">
              <a href="#">Forms <i class="fa fa-angle-right"></i></a>
              <ul class="dropdown-menu" role="menu">
                <li>
                  <a href="ui-form-elements-basic.html">Basic Form Elements</a>
                </li>
                <li>
                  <a href="ui-form-elements-advanced.html">Advanced Form Elements</a>
                </li>
                <li>
                  <a href="ui-form-layouts.html">Form Layouts</a>
                </li>
                <li>
                  <a href="ui-form-validation.html">Validation</a>
                </li>
              </ul>
            </li>
            <li>
              <a href="ui-numbers-charts.html">Numbers &amp; Charts</a>
            </li>
            <li>
              <a href="ui-boxed-contents.html">Boxed Contents</a>
            </li>
            <li>
              <a href="ui-testimonials.html">Testimonials</a>
            </li>
            <li>
              <a href="ui-maps.html">Maps</a>
            </li>
            <li>
              <a href="ui-typography.html">Typography</a>
            </li>
            <li>
              <a href="ui-icons.html">Icons</a>
            </li>
          </ul>
        </li>
        <li class="dropdown ">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">PORTFOLIO <i class="fa fa-angle-down"></i></a>
          <ul class="dropdown-menu" role="menu">
            <li>
              <a href="portfolio-4-columns.html">Portfolio 4 Columns</a>
            </li>
            <li>
              <a href="portfolio-3-columns.html">Portfolio 3 Columns</a>
            </li>
            <li>
              <a href="portfolio-2-columns.html">Portfolio 2 Columns</a>
            </li>
            <li>
              <a href="portfolio-single.html">Portfolio Item</a>
            </li>
          </ul>
        </li>
        <li class="dropdown ">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">BLOG <i class="fa fa-angle-down"></i></a>
          <ul class="dropdown-menu" role="menu">
            <li>
              <a href="blog-medium-thumbnail.html">Blog Medium Thumbnail</a>
            </li>
            <li>
              <a href="blog-full-thumbnail.html">Blog Full Thumbnail</a>
            </li>
            <li>
              <a href="blog-single.html">Blog Single</a>
            </li>
            <li>
              <a href="blog-single-full.html">Blog Single Full</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="page-contacts.html">CONTACTS</a>
        </li>
      </ul>
    </div>
    <!-- END MAIN NAVIGATION -->
  </div>
</nav>