<div class="topbar">
  <ul class="list-inline top-nav">
    <li>
      <div class="btn-group">
        <button type="button" class="btn btn-link dropdown-toggle btn-xs" data-toggle="dropdown">
          <%= image_tag "flags/United-Kingdom.png", alt: "United Kingdom" %> Canada <span class="caret"></span>
        </button>
        <ul class="dropdown-menu dropdown-menu-right country-selector" role="menu">
          <li>
            <a href="#"><%= image_tag "flags/United-Kingdom.png", alt: "United Kingdom" %> Canada</a>
          </li>
          <li>
            <a href="#"><%= image_tag "flags/United-Kingdom.png", alt: "United Kingdom" %> United States</a>
          </li>
        </ul>
      </div>
    </li>
    <li>
      <a href="#">Help</a>
    </li>
    <li>
      <a href="#">Support</a>
    </li>
  </ul>
  <div class="searchbox">
    <div class="input-group input-group-sm">
      <input type="text" class="form-control" placeholder="search ...">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
      </span>
    </div>
  </div>
</div>